# Dependency directories
/node_modules

# Compiled output
/dist

# Environment variables
.env
.env.*

# IDE and editor files
.vscode/
.idea/
*.sublime-*

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# TODO: Remove this when in prod
.docker